$form_gutter: (mobile: 10px, tablet: 15px, desktop: 20px) !default;
$form_field_padding: 8px !default;
$form_field_inner_height: 20px !default;
$form_field_border_radius: 5px !default;
$form_field_tx: (
  dark: lighten(#ccc, 10%),
  light: lighten(#333, 10%)
) !default;
$form_field_bg: (
  dark: lighten(#222, 10%),
  light: lighten(#ddd, 10%)
) !default;
$form_autocomplete_highlight: (
  dark: lighten(map_get($form_field_bg, dark), 5%),
  light: darken(map_get($form_field_bg, light), 5%)
) !default;
$form_field_shadow_color: (
  dark: rgba(#000, 0.5),
  light: rgba(#000, 0.25)
) !default;
$form_field_shadow: (
  dark: 0 1px 4px map_get($form_field_shadow_color, dark),
  light: 0 1px 4px map_get($form_field_shadow_color, light)
) !default;
$form_field_focus_glow: 0 0 1px 1px deepskyblue !default;
$form_response_positive: forestgreen !default;
$form_response_negative: crimson !default;

.form__row {
  margin-bottom: map_get($form_gutter, mobile);
  &:last-child { margin-bottom: 0; }
  @include breakpoint(tablet) { margin-bottom: map_get($form_gutter, tablet); }
  @include breakpoint(desktop) { margin-bottom: map_get($form_gutter, desktop); }
}

.form__response {
  padding: 1em;
  border: 1px solid;
  border-radius: $form_field_border_radius;
}
.form__response--success { color: $form_response_positive; }
.form__response--error { color: $form_response_negative; }

.form__label,
.form__toggle { display: block; }

.form__label { margin: 0 0 0.25em; }

.form__field {
  // Resets
  box-sizing: border-box;
  margin: 0;
  &:focus { outline: 0; }
  // Defaults
  transition: all ease 150ms;
  padding: $form_field_padding;
  border: 0;
  border-radius: $form_field_border_radius;
  color: map_get($form_field_tx, dark);
  background-color: map_get($form_field_bg, dark);
  box-shadow: map_get($form_field_shadow, dark);
  font-family: inherit;
  font-size: 1em;
  line-height: inherit;
  font-weight: normal;
  font-style: normal;
  &:focus { box-shadow: $form_field_focus_glow !important; }
  .light & {
    color: map_get($form_field_tx, light);
    background-color: map_get($form_field_bg, light);
    box-shadow: map_get($form_field_shadow, light);
  }
}

.form__field--radio,
.form__field--checkbox { padding: 0; }

.form__field--text,
.form__field--email,
.form__field--number,
.form__field--password,
.form__field--search,
.form__field--tel,
.form__field--url,
.form__field--select {
  height: $form_field_inner_height + $form_field_padding * 2;
  line-height: $form_field_inner_height;
}

.form__field--text,
.form__field--email,
.form__field--number,
.form__field--password,
.form__field--search,
.form__field--tel,
.form__field--url,
.form__field--select,
.form__field--textarea {
  display: block;
  width: 100%;
}

.form__field--textarea {
  min-height: 120px;
  resize: vertical;
  overflow: auto;
}

.form__field--search {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  &::-webkit-search-decoration { -webkit-appearance: none; }
}

.form__field--number {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button { height: auto; }
}

.form__field--select { text-transform: none; }

.form__field--file::-webkit-file-upload-button { -webkit-appearance: button; }

.form__toggle--label-hidden > .form__field { display: block; }
.form__toggle--label-visible > .form__field { margin-right: 0.5em; }

// Autocomplete
.form__autocomplete {
  &[data-state="active"] {
    position: relative;
    z-index: 1;
    > .form__field--autocomplete {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    > .form__autocomplete-backdrop,
    > .form__autocomplete-results { display: block; }
  }
}

.form__autocomplete-backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: none;
}

.form__autocomplete-results {
  position: absolute;
  top: 100%; right: 0; left: 0;
  display: none;
  max-height: 70vh;
  margin-top: -2px;
  border-radius: 0 0 $form_field_border_radius $form_field_border_radius;
  overflow-x: hidden;
  overflow-y: auto;
  color: map_get($form_field_tx, dark);
  background-color: map_get($form_field_bg, dark);
  box-shadow: 0 6px 5px -5px map_get($form_field_shadow_color, dark);
  .light & {
    color: map_get($form_field_tx, light);
    background-color: map_get($form_field_bg, light);
    box-shadow: 0 6px 5px -5px map_get($form_field_shadow_color, light);
  }
}

.form__autocomplete-result {
  padding: $form_field_padding;
  &:hover,
  &[tabindex="0"] {
    background-color: map_get($form_autocomplete_highlight, dark);
    .light & { background-color: map_get($form_autocomplete_highlight, light); }
  }
}
