$header_tx: #ddd !default;
$header_bg: #111 !default;
$header_z: 10 !default;
$header_to_content_gutter: (mobile: 20px, tablet: 30px, desktop: 40px) !default;

.header {
  position: sticky;
  top: 0; right: 0; left: 0;
  z-index: $header_z;
  margin-bottom: map_get($header_to_content_gutter, mobile);
  color: $header_tx;
  background-color: $header_bg;
  @include breakpoint(tablet) { margin-bottom: map_get($header_to_content_gutter, tablet); }
  @include breakpoint(desktop) { margin-bottom: map_get($header_to_content_gutter, desktop); }
}
