$nav_default_color: (dark: #ccc, light: #333) !default;
$nav_active_color: deeppink !default;

.nav {
  display: flex;
  margin-left: auto;
}

.nav__item {
  position: relative;
  flex: 0 0 auto;
  margin: 0 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: map_get($nav_default_color, dark) !important;
  .light & { color: map_get($nav_default_color, light) !important; }
  &:focus { outline: 0; }
  &::after {
    content: "";
    position: absolute;
    right: 0; bottom: 0; left: 0;
    height: 2px;
    background-color: map_get($nav_default_color, dark);
    transform: scaleX(0);
    transition: transform 200ms ease-out;
    .light & { background-color: map_get($nav_default_color, light); }
  }
  &.active::after { background-color: $nav_active_color; }
  &:hover,
  &.active {
    &::after { transform: scaleX(1); }
  }
}
