$objects_canvas_bg: #181818 !default;
$objects_canvas_frame_bg: darken($objects_canvas_bg, 2%) !default;
$objects_canvas_border_radius: 5px !default;

.objects-canvas {
  border-radius: $objects_canvas_border_radius;
  background-color: $objects_canvas_bg;
}

.objects-canvas__frame {
  fill: $objects_canvas_frame_bg;
  stroke-width: 1;
}

.objects-canvas__title { stroke: none; }

.objects-canvas-controls {
  display: flex;
  justify-content: center;
}
