$objects_canvas_border_radius: 5px !default;
$objects_canvas_bg: (
  dark: darken(#222, 5%),
  light: lighten(#ddd, 5%)
) !default;
$objects_canvas_frame_bg: (
  dark: darken(map_get($objects_canvas_bg, dark), 2%),
  light: lighten(map_get($objects_canvas_bg, light), 2%)
) !default;

$objects_picker_bg: (
  dark: lighten(#222, 10%),
  light: lighten(#ddd, 10%)
) !default;
$objects_picker_tx: (
  dark: lighten(#ddd, 10%),
  light: lighten(#333, 10%)
) !default;
$objects_picker_border_color: (
  dark: darken(map_get($objects_picker_bg, dark), 25%),
  light: darken(map_get($objects_picker_bg, light), 25%)
) !default;
$objects_picker_border_radius: 5px !default;
$objects_picker_gutter: (mobile: 10px, tablet: 15px, desktop: 20px) !default;

// Canvas
.objects-canvas__panel {
  border-radius: $objects_canvas_border_radius;
  background-color: map_get($objects_canvas_bg, dark);
  .light & { background-color: map_get($objects_canvas_bg, light); }
}

.objects-canvas__frame {
  fill: map_get($objects_canvas_frame_bg, dark);
  stroke-width: 1;
  [data-view-type="stack"] & {
    fill: none !important;
    stroke-opacity: 0.75;
  }
  .light & { fill: map_get($objects_canvas_frame_bg, light); }
}

// Editor
.objects-editor__list-row { padding: 0.25em 0; }

// Picker
.objects-picker__items {
  display: flex;
  flex-wrap: wrap;
  gap: map_get($objects_picker_gutter, mobile);
  @include breakpoint(tablet) { gap: map_get($objects_picker_gutter, mobile); }
  @include breakpoint(desktop) { gap: map_get($objects_picker_gutter, desktop); }
}
.objects-picker__item {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: map_get($objects_picker_border_color, dark);
  border-radius: $objects_picker_border_radius;
  color: map_get($objects_picker_tx, dark);
  background-color: map_get($objects_picker_bg, dark);
  overflow: hidden;
  white-space: nowrap;
  &:hover > .objects-picker__item-legend { width: 2em; }
  .light & {
    border-color: map_get($objects_picker_border_color, light);
    color: map_get($objects_picker_tx, light);
    background-color: map_get($objects_picker_bg, light);
  }
}

.objects-picker__item,
.objects-picker__item-legend,
.objects-picker__item-title,
.objects-picker__item-x { flex: 0 0 auto; }

.objects-picker__item-legend {
  width: 0.5em;
  height: 100%;
  transition: width 200ms ease;
  cursor: pointer;
}

.objects-picker__item-title {
  padding: 0 0.5em;
  line-height: 1;
}

.objects-picker__item-size { display: block; }

.objects-picker__item-x {
  padding: 0.25em 0.5em;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: map_get($objects_picker_border_color, dark);
  .light & { border-color: map_get($objects_picker_border_color, light); }
  &:hover {
    background-color: darken(map_get($objects_picker_bg, dark), 10%);
    .light & { background-color: darken(map_get($objects_picker_bg, light), 10%); }
  }
}
