$objects_picker_bg: #555 !default;
$objects_picker_tx: #ddd !default;
$objects_picker_border: darken($objects_picker_bg, 20%) !default;
$objects_picker_border_radius: 5px !default;

.objects-picker__items {
  display: flex;
  flex-wrap: wrap;
}
.objects-picker__item {
  display: flex;
  align-items: center;
  margin-right: 1em;
  border: 1px solid $objects_picker_border;
  border-radius: $objects_picker_border_radius;
  color: $objects_picker_tx;
  background: $objects_picker_bg;
  overflow: hidden;
  white-space: nowrap;
}

.objects-picker__item,
.objects-picker__item-legend,
.objects-picker__item-title,
.objects-picker__item-x { flex: 0 0 auto; }

.objects-picker__item-legend {
  width: 0.5em;
  height: 100%;
  transition: width 0.2s ease;
  cursor: pointer;
  &:hover { width: 1.5em; }
}

.objects-picker__item-title { padding: 0 0.5em; }

.objects-picker__item-x {
  padding: 0.25em 0.5em;
  border-left: 1px solid $objects_picker_border;
  &:hover { background-color: darken($objects_picker_bg, 10%); }
}
