// THEME: Default

/*
 * Layout
 */
$breakpoints: (tablet: 760, desktop: 1020);

$gutter_s: (mobile: 10px, tablet: 15px, desktop: 20px);
$gutter_m: (mobile: 20px, tablet: 30px, desktop: 40px);

// Z-index layers
$z_header: 100;

/*
 * Typography
 */
$default_font_family: -apple-system, system-ui, Roboto, "Segoe UI", Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;

// Font sizes (pixel units implied)
$default_font_size: (mobile: 14, tablet: 15, desktop: 16);

$font_h1: (mobile: 24, tablet: 32, desktop: 32);
$font_h2: (mobile: 20, tablet: 24, desktop: 24);
$font_h3: (mobile: 18, tablet: 20, desktop: 20);

$font_s: (mobile: 12, tablet: 12, desktop: 14);
$font_m: (mobile: 14, tablet: 15, desktop: 16);
$font_l: (mobile: 16, tablet: 18, desktop: 18);

$default_line_height: 1.5;

/*
 * Colors
 */
$tx_color: #ddd;
$tx_color_h: lighten($tx_color, 5%);
$tx_color_2h: lighten($tx_color, 5%);
$tx_color_3h: #fff;
$tx_color_b: darken($tx_color, 5%);
$tx_color_2b: darken($tx_color, 10%);
$tx_color_3b: darken($tx_color, 20%);

$bg_color: #222;
$bg_color_h: lighten($bg_color, 5%);
$bg_color_2h: lighten($bg_color, 10%);
$bg_color_3h: lighten($bg_color, 20%);
$bg_color_b: darken($bg_color, 5%);
$bg_color_2b: darken($bg_color, 10%);
$bg_color_3b: #000;

$brand: #e65ba5;

$positive: #40ff40;
$negative: #ff4040;

$link: #307bb4;

/*
 * Various visual features
 */
$border_radius_s: 5px;
$border_radius_m: 10px;

// box-shadows:
$glow: 0 5px 10px -5px rgba(#fff, 0.2);
$shadow: 0 1px 4px rgba(#000, 0.25);

/*
 * Components
 * override defaults for used components here
 */

// Buttons
$button_default_tx: $tx_color_3h;
$button_default_bg: $bg_color_3h;
$button_primary_tx: $tx_color_3h;
$button_primary_bg: $brand;
$button_border_radius: $border_radius_s;
$button_shadow: $shadow;

// Columns
$columns_gaps: $gutter_s;

// Box
$box_padding: $gutter_s;

// Header
$header_z: $z_header;
$header_to_content_gutter: $gutter_m;

// Footer
$footer_to_content_gutter: $gutter_m;

// Navigation
$nav_default_color: $tx_color;
$nav_active_color: $brand;

// Form
$form_field_tx: $tx_color_h;
$form_field_bg: $bg_color_h;
$form_response_positive: $positive;
$form_response_negative: $negative;
$form_gutter: $gutter_s;
$form_field_border_radius: $border_radius_s;

// Dropdown
$dropdown_tx: $tx_color;
$dropdown_bg: $bg_color_2b;
$dropdown_padding: $gutter_s;
$dropdown_border_radius: $border_radius_s;
$dropdown_shadow: $glow;

/*
 * Import app's components
 */
@import "./app";
