// THEME: Default

/*
 * Layout
 */
$breakpoints: (tablet: 760, desktop: 1020);

$gutter_s: (mobile: 10px, tablet: 15px, desktop: 20px);
$gutter_m: (mobile: 20px, tablet: 30px, desktop: 40px);

// Z-index layers
$z_header: 100;

/*
 * Typography
 */
$default_font_family: -apple-system, system-ui, Roboto, "Segoe UI", Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;

// Font sizes (pixel units implied)
$default_font_size: (mobile: 14, tablet: 15, desktop: 16);

$font_h1: (mobile: 24, tablet: 32, desktop: 32);
$font_h2: (mobile: 20, tablet: 24, desktop: 24);
$font_h3: (mobile: 18, tablet: 20, desktop: 20);

$font_xs: (mobile: 10, tablet: 11, desktop: 12);
$font_s: (mobile: 12, tablet: 12, desktop: 14);
$font_m: (mobile: 14, tablet: 15, desktop: 16);
$font_l: (mobile: 16, tablet: 18, desktop: 18);

$default_line_height: 1.5;

/*
 * Colors
 */
// Brand color
$brand: #4682b4;

// Default text and background colors:
$tx_color: (
  dark: #ccc,
  light: #333
);
$bg_color: (
  dark: #222,
  light: #ddd
);
// Text variations
$tx_color_1h: (
  dark: lighten(map_get($tx_color, dark), 5%),
  light: lighten(map_get($tx_color, light), 5%)
);
$tx_color_2h: (
  dark: lighten(map_get($tx_color, dark), 10%),
  light: lighten(map_get($tx_color, light), 10%)
);
$tx_color_3h: (
  dark: lighten(map_get($tx_color, dark), 20%),
  light: lighten(map_get($tx_color, light), 20%)
);
$tx_color_1b: (
  dark: darken(map_get($tx_color, dark), 5%),
  light: darken(map_get($tx_color, light), 5%)
);
$tx_color_2b: (
  dark: darken(map_get($tx_color, dark), 10%),
  light: darken(map_get($tx_color, light), 10%)
);
$tx_color_3b: (
  dark: darken(map_get($tx_color, dark), 20%),
  light: darken(map_get($tx_color, light), 20%)
);
// Background variations
$bg_color_1h: (
  dark: lighten(map_get($bg_color, dark), 5%),
  light: lighten(map_get($bg_color, light), 5%)
);
$bg_color_2h: (
  dark: lighten(map_get($bg_color, dark), 10%),
  light: lighten(map_get($bg_color, light), 10%)
);
$bg_color_3h: (
  dark: lighten(map_get($bg_color, dark), 20%),
  light: lighten(map_get($bg_color, light), 20%)
);
$bg_color_1b: (
  dark: darken(map_get($bg_color, dark), 5%),
  light: darken(map_get($bg_color, light), 5%)
);
$bg_color_2b: (
  dark: darken(map_get($bg_color, dark), 10%),
  light: darken(map_get($bg_color, light), 10%)
);
$bg_color_3b: (
  dark: darken(map_get($bg_color, dark), 20%),
  light: darken(map_get($bg_color, light), 20%)
);

// Other colors
$link_color: (dark: aqua, light: dodgerblue);
$positive: forestgreen;
$negative: crimson;
$focus_glow: 0 0 1px 1px deepskyblue;

/*
 * Various visual features
 */
$border_radius_s: 5px;

$basic_shadow_color: (
  dark: rgba(#000, 0.5),
  light: rgba(#000, 0.25)
);
$basic_shadow: (
  dark: 0 1px 4px map_get($basic_shadow_color, dark),
  light: 0 1px 4px map_get($basic_shadow_color, light)
);

$focus_glow: 0 0 1px 1px #0095ff;


/* ===========================================
 * Components
 * override defaults for used components
 * =========================================== */

/*
 * Buttons
 */
$button_border_radius: $border_radius_s;
// Shadows: you should only override one of the shadow variables
// $button_shadow_color: $basic_shadow_color;
$button_shadow: $basic_shadow;
// Focus state should have a distinct style
$button_focus_glow: $focus_glow;
// Color styles
$button_default_tx: $tx_color_2h;
$button_default_bg: $bg_color_2h;
$button_primary_tx: #fff;
$button_primary_bg: $brand;

/*
 * Forms
 */
$form_field_border_radius: $border_radius_s;
$form_gutter: $gutter_s;
// Shadows: you should override both or none of the shadow variables
$form_field_shadow_color: $basic_shadow_color;
$form_field_shadow: $basic_shadow;
// Focus state should have a distinct style
$form_field_focus_glow: $focus_glow;
// Field colors
$form_field_tx: $tx_color_2h;
$form_field_bg: $bg_color_2h;
$form_response_positive: $positive;
$form_response_negative: $negative;

/*
 * Columns
 */
$columns_gaps: $gutter_s;

/*
 * Header
 */
$header_to_content_gutter: $gutter_m;
$header_z: $z_header;
// Shadows: you should only override one of the shadow variables
// $header_shadow_color: $basic_shadow_color;
$header_shadow: $basic_shadow;
// Colors
$header_tx: (
  dark: map_get($tx_color_3b, dark),
  light: map_get($tx_color_3h, light)
);
$header_bg: (
  dark: map_get($bg_color_3b, dark),
  light: map_get($bg_color_3h, light)
);

/*
 * Footer
 */
$footer_to_content_gutter: $gutter_m;

/*
 * Navigation
 */
$nav_default_color: $header_tx;
$nav_active_color: $brand;

/* ===========================================
 * Import app's components
 * =========================================== */
@import "./app";
